.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    }


.video {
    position: absolute;
    left: 25%;
    top: 0%;

}


.like {
    background-color: transparent;
    width: 30px;
    position: absolute;
    border: none;
    cursor: pointer;
    outline: none;
    left: 56.5%;
    bottom: 49%;
    z-index: 999;

  }

  .heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
} 

.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 25px; 
    top: 0; 
    width: 27px; 
    height:41px; 
    background: whitesmoke; 
    border-radius: 30px 30px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

.heart.clicked::before, .heart.heart.clicked::after {
    background-color: red;
}

  #comment {
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    outline: none;
    left: 57.5%;
    bottom: 29%;
    z-index: 999;
  }


  .hidden {
    display: none;
}

#commentSection {
    position: absolute;
    top: 76%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1999;
    text-align: center;
    width: 280px;
    height: 239px;
    margin: 0;
}

#commentSection p {
    margin: 0;
}

#commentTitle {
    font-size: larger;
    font-weight: bolder;
}

.commentsContent {
    text-align: left;
}

.commenter {
    font-size: large;
    font-weight: bold;
}



#closeComment {
    position: absolute;
    top: 0%;
    left: 37.2%;
    width: 300px;
    height: 270px;
    background-color: transparent;
    outline: none;
    border:none;
    cursor: pointer;
    z-index: 999;
}

#closeComment button {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

  
#share {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 57.5%;
    top: 75%;
    z-index: 999;
}
  
.shareHidden {
    display: none;
}

#shareSection {
    position: absolute;
    top: 76%;
    left: 49.8%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1999;
    text-align: center;
    width: 280px;
    height: 239px;
    margin: 0;
}

#shareSection p {
    margin: 0;
}

#shareTo {
    font-size: larger;
    font-weight: bolder;
}

#playPauseButton {
    position: absolute;
    top: 50%;
    left: 37.2%;
    width: 248px;
    height: 270px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}

#playPauseButton button {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

#pausedIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.pauseHidden {
    display: none;
}


#fade {
    position: absolute;
    left: 36.7%;
    top: 0%;
}

#uploader {
    position: absolute;
    left: 36.9%;
    top: 75%;
    z-index: 999;
    font: monospace;
    color: white;
    font-weight: bold;
    font-size: medium;
}

#description {
    position: absolute;
    left: 36.9%;
    top: 79%;
    z-index: 999;
    font: monospace;
    color: white;
}

#hashtags {
    font-weight: bold;
}


#vinil {
    position: absolute;
    left: 60%;
    top: 94%;
    z-index: 999;
    width: 30px;
}

#vinil {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}



#search {
    position: absolute;
    width: 50px;
    left: 59%;
    top: 0%;
    z-index: 2000;
}

#live {
    position: absolute;
    width: 35px;
    left: 38%;
    top: 1%;
    z-index: 2000;
}

#forYou {
    position: absolute;
    font: monospace;
    color: white;
    font-size: large;
    left: 43.6%;
    top: -1%;
    z-index: 2000; 
}

#forYouBold {
    font-weight: bold;
}

#logo {
    position: absolute;
    left: 37.2%;
    top: 95.4%;
    width: 15px;
}


#pfp {
    position: absolute;
    width: 55px;
    left: 57.5%;
    top: 38%;
}

#follow {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 57.6%;
    top: 43%;
    background-color: transparent;
    border: none;
    z-index: 2000;
}

#follow img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 56.9%;
    top: 33%;
    cursor: pointer;
    
}




#scroll-container {
    border: none;
    overflow: hidden;
    height: 50px;
    width: 200px;
    position: absolute;
    left: 39%;
    top: 95%;
    color: white;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

}


#next {
    position: absolute;
    width: 60px;
    left: 63%;
    top: 93%;
}

#previus {
    position: absolute;
    width: 60px;
    left: 63.1%;
    top: 86%;
}

#previus4 {
    position: absolute;
    width: 60px;
    left: 63%;
    top: 93%;
}

